<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	<!-- meta -->

	<link inline rel='stylesheet' href='../common/css/font.css'>
	<link inline rel='stylesheet' href='../common/css/bundle.css'>

	<!-- smoosh -->
	<script inline src='../common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	<!-- analytics -->
</head>

<body id='page-about'>

	<!-- DO NOT REMOVE -->
	<!-- header -->
	<main id='content'>
		<section>
			<ul class='page-nav'>
				<li><strong>About</strong></li>
				<li>
					<a href='#why'>Why “The Pudding?”</a>
				</li>
				<li>
					<a href='#how'>Our process</a>
				</li>
				<li>
					<a href='#lights'>Keeping the lights on</a>
				</li>
				<li>
					<a href='#working'>Working here</a>
				</li>
				<li>
					<a href='#positions'>Open positions</a>
				</li>
				<li>
					<a href='#pitch'>Pitch a story</a>
				</li>
				<li>
					<a href='#resources'>Public Resources</a>
				</li>
				<li>
					<a href='#awards'>Awards</a>
				</li>
				<li>
					<a href='#contact'>Contact us</a>
				</li>
				<li>
					<a href='#sponsored'>Content Studio</a>
				</li>
				<li>
					<a href='#team'>Team</a>
				</li>
			</ul>

			<!-- <p class='section__label random-color'>About</p> -->
			<!-- DO NOT REMOVE -->
			<!-- content -->
			<div id='team'>
				<h3 class='section__hed random-color'>Team</h3>
				<!-- DO NOT REMOVE -->
				<ul class='authors'>
					<!-- team -->
				</ul>
			</div>
		</section>

	</main>

	<!-- DO NOT REMOVE -->
	<!-- footer -->
</body>
<script src='../common/js/d3.v5.min.js'></script>
<script inline src='../common/js/general.js'></script>

</html>
