<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	<!-- meta -->

	<link rel='alternate' type='application/rss+xml' title='Latest from The Pudding' href='https://feeds.feedburner.com/pudding/feed'
	/>


	<link inline rel='stylesheet' href='common/css/font.css'>
	<link inline rel='stylesheet' href='common/css/bundle.css'>

	<!-- smoosh -->
	<script inline src='common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	<!-- analytics -->
</head>

<body id='page-home'>

	<!-- DO NOT REMOVE -->
	<!-- header -->

	<main id='content'>

		<section id='new' class='layout--feature'>
			<div class='section__top'>
				<p class='section__label random-color'>What’s New</p>
			</div>
			
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- new -->
			</ul>
		</section>

		<section id='topics' class='layout--equal'>
			<div class='section__top'>
				<p class='section__label random-color'>Topics</p>
				<!-- topics-nav -->
			</div>
			
			<!-- DO NOT REMOVE -->
			<!-- topics -->
		</section>

		<!-- DO NOT REMOVE -->
		<!-- cta -->

		<section id='picks' class='layout--small'>
			<div class='section__top'>
				<p class='section__label random-color'>Our Picks</p>
				<p class='section__description'>The Pudding staff picks stories you should see</p>
			</div>
			
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- picks -->
		
			</ul>
		</section>
		
		<section id='hits' class='layout--feature'>
			<div class='section__top'>
				<p class='section__label random-color'>Greatest Hits</p>
			</div>
			
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- hits -->
		
			</ul>
		</section>

		<section id='how' class='layout--small'>
			<div class='section__top'>
				<p class='section__label random-color'>How-To</p>
				<div class='top__more'>
					<a href='topics/#how'>See All <svg class='random-stroke' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-chevron-right">
						<polyline points="9 18 15 12 9 6"></polyline>
					</svg></a>
				</div>
			</div>
			
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- how -->
		
			</ul>
	</main>

	<!-- DO NOT REMOVE -->
	<!-- footer -->

	<script>
		window.storyData = /* story-data */;
	</script>
	<script src='common/js/d3.v5.min.js'></script>
	<script inline src='common/js/general.js'></script>
		
	<script>
		/* entry-js */
	</script>

</body>

</html>