<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	<!-- meta -->

	<link rel='alternate' type='application/rss+xml' title='Latest from The Pudding' href='https://feeds.feedburner.com/pudding/feed'
	/>

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="home/assets/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="home/assets/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="home/assets/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="home/assets/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="home/assets/favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="home/assets/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="home/assets/favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="home/assets/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="home/assets/favicon/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="home/assets/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="home/assets/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="home/assets/favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="home/assets/favicon/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="home/assets/favicon/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="home/assets/favicon/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="home/assets/favicon/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="home/assets/favicon/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="home/assets/favicon/mstile-310x310.png" />

	<link inline rel='stylesheet' href='common/css/font.css'>
	<link inline rel='stylesheet' href='common/css/bundle.css'>

	<!-- smoosh -->
	<script inline src='common/js/critical.js'></script>
	<!-- endsmoosh -->

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-90567923-1', 'auto');
		ga('send', 'pageview');
	</script>

	<script>
		(function () {
			window.trackOutboundLink = function (url) {
				ga('send', 'event', 'outbound', 'click', url, {
					'transport': 'beacon',
					'hitCallback': function () { document.location = url; }
				});
			}
		})()
	</script>
</head>

<body class='tk-national' id='page-home'>

	<!-- DO NOT REMOVE -->
	<!-- header -->

	<main id='content'>
		<section id='picks'>
			<p class='section__label random-color'>Our Picks</p>
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- picks -->
				
			</ul>
		</section>

		<section id='new'>
			<p class='section__label random-color'>What’s New</p>
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- new -->
		
			</ul>
		</section>

		<section id='topics'>
			<p class='section__label random-color'>Topics</p>
			<!-- DO NOT REMOVE -->
			<!-- topics -->
		</section>

		<!-- DO NOT REMOVE -->
		<!-- cta -->

		<section id='hits'>
			<p class='section__label random-color'>Greatest Hits</p>
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- hits -->
		
			</ul>
		</section>

		<section id='how'>
			<p class='section__label random-color'>How-To</p>
			<ul>
				<!-- DO NOT REMOVE -->
				<!-- how -->
		
			</ul>
	</main>

	<!-- DO NOT REMOVE -->
	<!-- footer -->

	<script>
		window.storyData = /* story-data */;
	</script>
	<script src='common/js/d3.v5.min.js'></script>
	<script inline src='common/js/general.js'></script>
		
	<script>
		/* entry-js */
	</script>

</body>

</html>