.collection {
  position: relative;
  width: 90%;
  max-width: 60rem;
  margin: 3rem auto 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* FEATURE */
.collection__feature {
  display: block;
  position: relative;
  color: #2a2a2a;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  border: none;
  border-top: 8px solid #2a2a2a;
}

a.feature__tease {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 540px; /* about as tall as text ever gets on right */
  padding: 1rem;
}

.tease__bg {
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.tease__title {
  position: relative;
  max-width: 25rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}

.title__overline {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15em;
}

.title__overline.show-mobile {
  display: block;
}

.title__overline.show-desktop {
  display: none;
}

.title__name {
  font-size: 40px;
  line-height: 1.2;
}

.feature__story {
  background-color: #fff;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  transform: translateY(-20%);
}

a.story__hed {
  display: block;
  font-weight: 700;
  border: none;
  color: #1f1f21;
  margin: 0;
  line-height: 1.2;
}

a.story__hed:hover {
  color: #eb5757;
}

a.story__hed:hover,
a.story__hed:visted {
  border: none;
  color: #2a2a2a;
}

.story__hed span {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.story__author {
  color: #eb5757;
  margin: 1rem auto;
}

.story__author a {
  color: #eb5757;
  text-decoration: none;
  border-bottom: none;
}

/* INFO */
.collection__info {
  width: 100%;
  max-width: 30rem;
  margin: 3rem auto;
}

.info__description {
  margin: -0.25rem 0 2.5rem 0;
  font-family: 'Atlas Grotesk Web';
}

/* LIST */
.list__item:not(:last-child) {
}

.list__item:not(:last-child) .list__link {
  padding-bottom: 1.5rem;
}
.list__item:not(:last-child) .list__link:after {
  border-left: 1px dashed #eb5757;
  content: '';
  display: block;
  position: absolute;
  top: 2.5rem;
  bottom: 0;
  left: 0.25rem;
  width: 1px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.list__item:not(:last-child) .list__link:hover:after {
  border-left-style: solid;
}
a.list__link {
  color: #2a2a2a;
  display: block;
  padding-left: 2rem;
  position: relative;
  border: none;
}
a.list__link:hover {
  color: #eb5757;
}
a.list__link:hover:before {
  background-color: #eb5757;
}
.list__link:before {
  border: 1px solid #eb5757;
  border-radius: 50%;
  content: '';
  display: block;
  height: 7px;
  left: 0px;
  position: absolute;
  top: 13px;
  -webkit-transition: 0.2s ease background-color;
  transition: 0.2s ease background-color;
  width: 7px;
}
.list__link * + * {
  margin-top: 0.5em;
}
.list__date {
  color: #eb5757;
  text-transform: uppercase;
}
.list__hed {
  font-weight: 300;
  line-height: 1.25;
  margin: 0.5rem 0;
}

.list__dek {
  margin: 0;
}

.info__all {
  text-align: center;
  display: none;
}

.info__all.is-visible {
  display: block;
}

a.all__view {
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  color: #2a2a2a;
  display: inline-block;
}

a.all__view span {
  color: #eb5757;
  background-color: rgba(255, 51, 0, 0.15);
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 3px;
  margin: 0 0.2em;
  font-weight: 600;
}

a.all__view:hover,
a.all__view:visted {
  border: none;
  color: #2a2a2a;
}

/* LOADER */
.loader {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.loader div {
  box-sizing: content-box;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader div:nth-child(1) {
  border-color: #ccc;
}
.loader div:nth-child(2) {
  border-color: #ccc;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 2.5rem;
    left: 2.5rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0rem;
    left: 0rem;
    width: 5rem;
    height: 5rem;
    opacity: 0;
  }
}
@keyframes lds-ripple {
  0% {
    top: 2.5rem;
    left: 2.5rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0rem;
    left: 0rem;
    width: 5rem;
    height: 5rem;
    opacity: 0;
  }
}

@media only screen and (min-width: 40em) {
  .feature__tease {
    padding: 2.5rem;
  }

  .title__name {
    font-size: 48px;
  }
}

@media only screen and (min-width: 60em) {
  .collection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 4rem auto 9rem auto;
  }
  .collection__feature {
    margin: 0 2.5rem;
  }
  .collection__info {
    max-width: 20rem;
    margin: 0 2rem;
  }
  .title__overline.show-mobile {
    display: none;
  }
  .title__overline.show-desktop {
    display: block;
  }
  .feature__story {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
  }
}
