footer {
  background: #fff;
}

/* INTERWEBS */
.footer__interwebs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
}

.interwebs__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.interwebs__label {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 2.2;
  margin: 0;
  margin-right: 1em;
  display: none;
}

.footer__interwebs a {
  border: none;
  margin-right: 0.5em;
}

.footer__interwebs a:hover,
.footer__interwebs a:visited {
  border: none;
}

.interwebs svg {
  width: 1rem;
  height: 1rem;
}

/* DESCRIPTION */

.footer__description {
  line-height: 1.5;
  text-align: center;
  padding: 0 1rem;
  margin: 2rem auto;
  max-width: 30rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 1rem;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__links li {
  margin: 0.25rem 0.5rem;
}

.footer__location {
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 1rem;
  color: #888;
  font-size: 9px;
}

.footer__location span {
  font-weight: 400;
}
