.stories {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.stories .stories__hed {
  font-weight: 400;
  margin: 0;
}

.stories li {
  margin: 0.5rem 0 0.75rem 0;
}

.stories .story p {
  margin: 0;
  /* display: inline-block; */
}

.story a {
  margin-right: 0.5rem;
  border: none;
}

.stories .story__hed {
  display: inline;
  font-weight: 600;
  margin: 0;
  border-bottom: 1px solid #eb5757;
}
