<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	
		<title>Elle O’Brien - The Pudding</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
		<meta name='description' content='Read more from Elle O’Brien} on The Pudding.' />
		<meta name='news_keywords' content='The Pudding' />

		<meta property='og:title' content='Read more from Elle O’Brien} on The Pudding.' />
		<meta property='og:site_name' content='The Pudding'/>
		<meta property='og:url' content='https://pudding.cool' />
		<meta property='og:description' content='Read more from Elle O’Brien} on The Pudding.' />
		<meta property='og:type' content='profile' />
		<meta property='og:locale' content='en_US' />

		<meta property='og:image' content='https://pudding.cool/common/assets/misc/social-facebook.jpg' />
		<meta property='og:image:type' content='image/jpeg' />
		<meta property='og:image:width' content='1200' />
		<meta property='og:image:height' content='600' />

		<meta name='twitter:card' content='summary_large_image'>
		<meta name='twitter:site' content='https://pudding.cool'>
		<meta name='twitter:creator' content='@puddingviz'>
		<meta name='twitter:title' content='The Pudding'>
		<meta name='twitter:description' content='Read more from Elle O’Brien} on The Pudding.'>
		<meta name='twitter:image:src' content='https://pudding.cool/common/assets/misc/social-twitter.jpg'>

		<link rel='apple-touch-icon' sizes='180x180' href='https://pudding.cool/apple-touch-icon.png'>
		<link rel='icon' type='image/png' sizes='32x32' href='https://pudding.cool/favicon-32x32.png'>
		<link rel='icon' type='image/png' sizes='16x16' href='https://pudding.cool/favicon-16x16.png'>
		<link rel='manifest' href='https://pudding.cool/site.webmanifest'>
		<link rel='mask-icon' href='https://pudding.cool/safari-pinned-tab.svg' color='#5bbad5'>
		<meta name='msapplication-TileColor' content='#ffc40d'>
		<meta name='theme-color' content='#ffffff'>

		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Extralight.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Bold.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/national/National2NarrowWeb-Black.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Regular.woff2'>
		<link rel='preload' type='font/woff2' as='font' crossorigin href='https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Bold.woff2'>
	

	<link inline rel='stylesheet' href='../../common/css/font.css'>
	<link inline rel='stylesheet' href='../../common/css/bundle.css'>
	
	<!-- smoosh -->
	<script inline src='../../common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-90567923-1', 'auto');
		ga('send', 'pageview');
	</script>

	<script>
		(function () {
			window.trackOutboundLink = function (url, category) {
				if (window.ga && ga.create) {
					ga('send', 'event', category || 'outbound', 'click', url, {
						'transport': 'beacon',
						'hitCallback': function () { document.location = url; }
					});
				} else {
					document.location = url;
				}
				
			}
		})()
	</script>
</head>


<body id='page-author'>

	<!-- DO NOT REMOVE -->
	
		<a href='#content' class='skip-to-main'>Skip to main content</a>
		<header>
			
			<div class='header__title'>
				<a class='header__wordmark' href='../../'>
					<img inline src='dev/common/assets/svg/pudding-wordmark.svg'>
				</a>
			</div>
			
			<div class='header__sidebar'>
				<a class='header__logo' href='../../'>
					<img inline src='dev/common/assets/svg/pudding-logo.svg'>
				</a>
				<ul class='sidebar__social'>
					<li><a target='_blank' onclick="trackOutboundLink('https://www.instagram.com/pudding.cool'); return false;" href='https://www.instagram.com/pudding.cool' class='logo--instagram'><img inline src='dev/common/assets/svg/instagram.svg'></a></li>
					<li><a target='_blank' onclick="trackOutboundLink('https://twitter.com/puddingviz''); return false;" href='https://twitter.com/puddingviz' class='logo--twitter'><img inline src='dev/common/assets/svg/twitter.svg'></a></li>
					<li><a target='_blank' onclick="trackOutboundLink('https://www.facebook.com/pudding.viz'); return false;" href='https://www.facebook.com/pudding.viz/' class='logo--facebook'><img inline src='dev/common/assets/svg/facebook.svg'></a></li>					
					<li><a target='_blank' onclick="trackOutboundLink('https://www.patreon.com/thepudding'); return false;" href='https://www.patreon.com/thepudding' class='logo--patreon'><img inline src='dev/common/assets/svg/patreon.svg'></a></li>
				</ul>
			</div>

			<nav class='header__nav'>
				<ul class='nav__links'>
					<li><a onclick="trackOutboundLink('../../about'); return false;" href='../../about'>About</a></li>
					<li><a onclick="trackOutboundLink('../../topics'); return false;" href='../../topics'>Topics</a></li>
					<li><a onclick="trackOutboundLink('../../archives'); return false;" href='../../archives'>Archives</a></li>
					<li><a target='_blank' onclick="trackOutboundLink('http://eepurl.com/czym6f'); return false;" href='http://eepurl.com/czym6f' target='_blank' class='btn'>Join our Newsletter</a></li>
				</ul>
			</nav>
			
			<div class='header__menu'>
				<btn class='header__toggle-off'>
					<img inline src='dev/common/assets/svg/x.svg'>
				</btn>
				<p class='menu__tagline'>The Pudding explains ideas debated in culture with visual essays.</p>
				<ul class='menu__links'>
					<li><a onclick="trackOutboundLink('../../about'); return false;" href='../../about'>About</a></li>
					<li><a onclick="trackOutboundLink('../../topics'); return false;" href='../../topics'>Topics</a></li>
					<li><a onclick="trackOutboundLink('../../archives'); return false;" href='../../archives'>Archives</a></li>
					<li><a onclick="trackOutboundLink('http://eepurl.com/czym6f'); return false;" href='http://eepurl.com/czym6f' target='_blank'>Join our Newsletter</a></li>
				</ul>
				<p class='menu__patreon'>We pour our ❤️ into these stories, but they take time and money. For just $1/month, you can help support us. Join our
				growing community of data-driven enthusiasts.<br><a class='random-background' href='https://www.patreon.com/thepudding' target='_blank' onclick='trackOutboundLink("https://www.patreon.com/thepudding"); return false;'>Help fund us</a></p>
			</div>
			
			<btn class='header__toggle-on'>
				<img inline src='dev/common/assets/svg/menu.svg'>
			</btn>

		</header>
	
	<main id='content'>
		<section class='author'>
			<p class='section__label random-color'>Bio</p>
			<!-- DO NOT REMOVE -->
			
		<div class='bio'>
			<img class='bio__img' src="../../common/assets/authors/elle.jpg" alt="Elle O’Brien" />
			<div class='bio__info'>
				<p class='info__description'>
					<span class='description__name'>Elle O’Brien</span>
					<span class='description__bio'></span>
				</p>
			</div>
			<ul class='bio__links'>
					<li class='link__twitter'><a href='https://twitter.com/andronovhopf' target='_blank'><img inline src='dev/common/assets/svg/twitter.svg'>@andronovhopf</a></li>
					
					<li class='link__url'><a href='https://www.elle-obrien.com/' target='_blank'><img inline src='dev/common/assets/svg/link.svg'>website</a></li>
			</ul>
		</div>
	
		</section>
		
		<section class='stories'>
			<p class='section__label random-color'>Stories</p>
			<ul>
				<!-- DO NOT REMOVE -->
				<li>
		<div class='story-item' data-id='2018/05/cookies' data-topic='people' data-chart='unique' data-keyword='science,food,explainer' data-author='elle,amber' data-author_slug='elle-obrien, amber-thomas' data-author_name='Elle O’Brien, Amber Thomas' data-hed='baking the most average chocolate chip cookie' data-dek='cookie recipes written by computers — what could go wrong?' data-date='2018-05-10T04:00:00.000Z' data-views='11479'>
			<div class='item__img'>
				<a href='//pudding.cool/2018/05/cookies'>
					<img src='../../common/assets/thumbnails/640/2018_05_cookies.jpg' alt='Baking the Most Average Chocolate Chip Cookie'>
				</a>
				
			</div>
			<div class='item__info'>
				<a href='//pudding.cool/2018/05/cookies'>
					<h3 class='item__hed'>Baking the Most Average Chocolate Chip Cookie</h3>
				</a>
				<p class='item__dek'>Cookie recipes written by computers — what could go wrong?</p>
				<time class='item__time' datetime='2018-05-10T04:00:00.000Z'></time>
				<p class='item__author'>By <a href='../../author/elle-obrien'>Elle O’Brien</a>, <a href='../../author/amber-thomas'>Amber Thomas</a></p>
			</div>
		</div>
	</li>
			</ul>
		</section>
	</main>

	<!-- DO NOT REMOVE -->
	
		<footer class='random-background'>
			<div class='footer__inner'>
				<p class='footer__hed'>
					The Pudding is an editorial publication that explains ideas debated in culture with visual essays.
				</p>

				<div class='footer__social'>
					<p>Find us on the socials</p>
					<ul>
						<li>
							<a target='_blank' href='https://www.facebook.com/pudding.viz/' class='logo--facebook'>
							<img inline src='dev/common/assets/svg/facebook.svg'></a>
						</li>

						<li>
							<a target='_blank' href='https://twitter.com/puddingviz' class='logo--twitter'>
							<img inline src='dev/common/assets/svg/twitter.svg'>
						</a>
						</li>

						<li>
							<a target='_blank' href='https://www.instagram.com/pudding.cool' class='logo--instagram'>
								<img inline src='dev/common/assets/svg/instagram.svg'>
							</a>
						</li>

						<li>
							<a target='_blank' href='https://www.patreon.com/thepudding' class='logo--patreon'>
								<img inline src='dev/common/assets/svg/patreon.svg'>
							</a>
						</li>
					</ul>
				</div>
				
				<p class='footer__location'>The Pudding<span>®</span> is made in Brooklyn, NY; Seattle, WA; San Antonio, TX; and Great Barrington, MA.</p>
			</div>
		</footer>
	
</body>
<script src='../../common/js/d3.v5.min.js'></script>
<script inline src='../../common/js/general.js'></script>

</html>
