/* TOOLBAR */
.toolbar {
	background-color: #fff;
	z-index: 100;
	padding: 1rem 2rem;
	box-shadow: 0 1px 1px 0px rgba(0,0,0,0.2);
}


.toolbar__list {
	max-width: 26rem;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.toolbar__item {
	line-height: 1.8;
	display: inline-block;
	margin: 0 0.75em;
	text-transform: uppercase;
	color: #404040;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}

.toolbar__item:last-child {
	display: none;
}

@media only screen and (min-width: 800px) {
	.toolbar__item:last-child {
		display: inline-block;
	}
}