#about
	main
		position relative
		max-width $main-width
		margin 0 auto 5rem auto
		border-left 4px solid $fg
		border-top 4px solid $fg
		padding-top 1rem

	.story-item a
		border none
		display block
	