#page-archives
	padding-top 6rem	
	+mq('bp-m')
		padding-top 0
	section
		// min-height 2rem
	

	.filter
		display flex
		align-items flex-start
		flex-wrap wrap
		+mq('bp-m')
			flex-wrap nowrap
			align-items flex-end
			justify-content space-between
			
		ul
			display flex
			flex-wrap wrap
			justify-content space-between
			+mq('bp-m')
				flex-wrap nowrap

		li
			margin-bottom 1rem
			padding-right 0.5rem
			+mq('bp-m')
				margin 0
			&:last-of-type
				padding-right 0
			&:nth-child(n+2)
				margin 0

	fieldset
		margin-right 1rem
		+mq('bp-m')
			margin 0
	input
		width 9rem
		padding 0
		line-height 1
		set-type-size(root, false)
		font-family $sans-display
		color $gray-dark
		// display none
		padding 0 0.25em
		+mq('bp-m')
			display block

	legend
		margin-bottom 0.25em
		text-transform uppercase
		font-weight 700
		set-type-size(small)
		font-family $sans-display

	select
		display block
		background-color $bg
		border-color $gray
		border-radius 0
		color $gray-dark
		set-type-size(root, false)
		line-height 1
		font-family $sans-display
		padding 0.25em
		margin 0 auto
		// margin-bottom 1.5rem
		// appearance none
		// background-image url(../assets/svg/arrow.svg)
		// background-repeat no-repeat
		// background-position 95% 100%
		// background-size 16px 16px
		// overflow hidden
		// text-overflow ellipsis
		// white-space nowrap

		&::-ms-expand
			display none
	
	fieldset
		margin-bottom 1rem
		
		+mq('bp-m')
			margin 0

		&:last-of-type
			margin 0

	.field__sort
		select
			width 9rem
	
	.field__filter
		select
			width 7rem
	
	section.stories
		border none