#page-archives .stories
	ul
		position relative
		display flex
		flex-wrap wrap
		justify-content space-between
		
	li
		width 100%
		margin-bottom 3rem
		border-top $line-width solid $fg
		&.is-hidden
			display none

		&:not(.is-hidden) ~ li:not(.is-hidden)
			border-top $line-width solid $fg
			.item__info
				padding 1rem 0 0 1rem

		&:not(.is-hidden)
			border none
			.item__info
				padding 0 0 0 1rem

		&:last-of-type
			margin-bottom 0

	.story-item
		display flex
		flex-wrap wrap

		+mq('bp-4')
			flex-wrap nowrap
	
	.item__img
		width 100%
		min-width 100%
		+mq('bp-4')
			width 30%
			min-width 30%

	.item__info
		padding 1rem 0 0 1rem
		display flex
		flex-direction column

	.item__hed
		font-weight 700
		set-type-size(x-large) 
		line-height 1
	
	.item__dek
		set-type-size(root, false)
		line-height 1.4
		font-family $serif
		margin-top 0.5rem
		// display none
	
	.item__author
		font-weight 700
		margin-top 0.5rem
		set-type-size(small)
		line-height 1.2
		text-transform uppercase
	
	a
		border none
		display inline-block
		

	.info__tags
		display none
		+mq('bp-m')
			display flex
			flex-wrap wrap
			flex-grow 1
			align-items flex-end
			margin-top 0.5rem
	
	.tag
		margin-right 0.5rem
		margin-top 0.25rem
		set-type-size(small)
		color $gray-dark
		border-right 1px solid $gray
		padding-right 0.5rem
		margin-bottom 0.25em
		line-height 1
		cursor pointer
		&:hover
			color $fg
		&:last-of-type
			margin-right 0
			border none