.cta
	width 100%
	color $bg
	margin-bottom 5rem

	.cta__inner
		width calc(100% - 3.6rem)
		transform translateX(0.5rem)
		border-top $line-width solid $fg
		max-width $main-width
		margin 0 auto
		padding 3rem 1rem
		+mq('bp-m')
			width 100%
			width calc(100% - 12rem)
			transform translateX(0)


	.cta__hed
		font-family $serif
		margin 0 auto
		set-type-size(x-large, false)
		line-height 1.4

	.cta__items
		display flex
		flex-wrap wrap
		justify-content space-between
		margin 0 auto
		margin-top 2rem
		+mq('bp-m')
			flex-wrap nowrap

	.cta__newsletter
		display flex
		align-items center
		flex-wrap wrap
		margin-bottom 2rem
		font-family $sans-display

		+mq('bp-m')
			margin 0
			flex-wrap nowrap

		.btn
			background-color $bg

		form
			display flex

		input
			set-type-size(small, false)
			line-height 1
			background transparent
			border 1px solid $bg
			&::placeholder
				color $bg

		.newsletter__input
			color $bg
			height 2.5rem
			padding 0 0.5rem

		p
			margin 0
			margin-bottom 1rem
			line-height 1
			width 100%
			set-type-size(large)
			+mq('bp-m')
				width auto
				margin 0
				margin-right 1rem

	.cta__patreon
		display flex
		align-items center
		flex-wrap wrap
		font-family $sans-display
		+mq('bp-m')
			flex-wrap nowrap
		p
			margin 0
			margin-bottom 1rem
			set-type-size(large)
			line-height 1
			width 100%
			+mq('bp-m')
				width auto
				margin 0
				margin-right 1rem


	.btn, a.btn
		background-color $bg
		cursor pointer
		&:hover
			background-color rgba($bg, 0.9)
