.cta
	width 100%
	background red
	
	&__hed
		max-width $main-width
		margin 0 auto
		
	&__items
		display flex
		flex-wrap nowrap
		justify-content space-between
		max-width $main-width
		margin 0 auto