footer
	width 100%
	color $bg

	.footer__inner
		width calc(100% - 3.6rem)
		transform translateX(0.5rem)
		border-top $line-width solid $fg
		border-left $line-width solid $fg
		max-width $main-width
		margin 0 auto
		padding 3rem 1rem
		+mq('bp-5')
			width 100%
			transform translateX(0)
		
	
	.footer__hed	
		margin 0 auto
		set-type-size(x-large, false)
		line-height 1.4
		
	.footer__social
		margin-top 2rem
		display flex
	
		p
			margin 0

		ul
			display flex

		li
			margin 0 0.25rem
		a
			border none
			display block
			max-width 2rem
		
		svg
			fill $bg
			stroke-opacity 0.5

	.footer__location
		margin 0
		margin-top 2rem
		set-type-size(small)