footer
	width 100%
	color $bg

	.footer__inner
		width calc(100% - 2rem)
		transform translateX(0)
		border-top $line-width solid $fg
		max-width $main-width
		margin 0 auto
		padding 3rem 1rem
		display flex
		flex-direction column
		+mq('bp-m')
			width 100%
			width calc(100% - 12rem)
			transform translateX(0.5rem)
			flex-direction row

	.footer__cta
		order 1
		margin 2rem 0 0 0
		width 100%
		+mq('bp-m')
			width 18rem
			margin 0 0 0 2rem

	.footer__cta-list
		display flex
		flex-wrap wrap
		flex-direction column
		height 9rem
		font-family $sans-display
		+mq('bp-m')
			flex-direction column

		li
			display flex
			width 50%
			margin 0
			margin-bottom 1.5rem
			align-items center
			+mq('bp-m')
				padding-left 1rem

			a
				display flex
				border none

			p
				margin 0
				padding-left 0.5rem
				line-height 1
				set-type-size(root, false)

			svg
				fill $bg
				stroke none
				vertical-align middle
				circle, polyline, line
					fill none
					stroke $bg
				path, rect
					stroke none
			.feather-mail path
					stroke $bg
					fill none


	.footer__about
		order 0
		width 100%
		display flex
		flex-direction column
		font-family $sans-display
		+mq('bp-m')
			width calc(100% - 20rem)

		p
			margin 0

		svg
			width 12rem
			margin-bottom 0.5rem
			path
				fill $bg

		a
			color $bg
			border-bottom 1px solid currentColor
			&:hover
				color $bg
