footer
	background green
	
	.footer__inner
		max-width $main-width
		margin 0 auto
	
	.footer__description
		margin 0
		
	.footer__social
		display flex

		p
			margin 0

		ul
			display flex

		a
			border none
			display block
			max-width 2rem

	.footer__location
		margin 0