.random-color
	color $gray-dark
	transition color 250ms
	&--0
		color red
	&--1
		color green
	&--2
		color blue
	&--3
		color orange
.random-background
	background-color $gray-dark
	transition background-color 250ms
	&--0
		background-color red
	&--1
		background-color green
	&--2
		background-color blue
	&--3
		background-color orange

	

.story-item
	
	.item__hed
		margin 0
	
	.item__dek
		margin 0
	
	.item__author
		margin 0