html
	scroll-behavior smooth
body
	font-family $sans
	overflow-x hidden

button
	font-family $sans-display
	background-color transparent

input
	font-family $sans-display


input[type="email"], input[type="text"], input[type="button"], input[type="submit"]
	-webkit-appearance none
	border-radius 0
	margin 0

.btn, a.btn
	font-family $sans-display
	font-weight 900
	text-transform uppercase
	padding 0.75rem
	set-type-size(small, false)
	line-height 1
	background-color $fg
	color $bg
	letter-spacing 0.03em
	border none

.random-color, a.random-color, .btn.random-color
	color $gray-dark
	transition color 250ms
	&--0
		color $purple
	&--1
		color $blue
	&--2
		color $green
	&--3
		color $red

.random-background, a.random-background, .btn.random-background
	background-color $gray-dark
	transition background-color 250ms
	&--0
		background-color $purple
	&--1
		background-color $blue
	&--2
		background-color $green
	&--3
		background-color $red

.random-stroke
	transition color 250ms
	&--0
		stroke $purple
	&--1
		stroke $blue
	&--2
		stroke $green
	&--3
		stroke $red



.story-item

	.item__hed
		margin 0
		font-family $sans-display

	.item__dek
		font-family $serif
		margin 0

	.item__author
		display block
		font-family $sans-display
		margin 0
		color $gray-dark
		a
			color $gray-dark

	.item__time
		display none

	.img__hit
		display none

section
	width calc(100% - 2rem)
	position relative
	max-width $main-width
	margin 0 auto 5rem auto
	border-top 4px solid $fg
	padding-top 0.5rem

	+mq('bp-m')
		width calc(100% - 12rem)
		transform translateX(0)
		max-width 60rem

	.section__top
		display flex
		+mq('bp-m')
			display flex

	.section__description
		margin 0
		line-height 1
		color $gray-dark
		font-family $sans-display


	.section__label
		font-family $sans-display
		font-weight 700
		text-transform uppercase
		line-height 1
		margin 0
		margin-bottom 2rem
		margin-right 1rem

select option
	font-family $sans-display

.random-link--0 a:hover
	color $purple
.random-link--1 a:hover
	color $blue
.random-link--2 a:hover
	color $green
.random-link--3 a:hover
	color $red

.layout--feature
	ul
		position relative
		display flex
		flex-wrap wrap
		justify-content space-between
		+mq('bp-m')
			justify-content flex-start
			width 100%

	li
		width 100%
		margin-bottom 3rem

		+mq('bp-m')
			width 50%
			margin 0
			border-top none
			width calc(50% - 1rem)
			margin-right 2rem
			margin-bottom 0

			&:nth-child(odd)
				margin-right 0

			&:nth-child(n+4)
				display block
				margin-top 3rem

			&:nth-child(n+6)
				display none

	li:nth-child(3)
			margin-bottom 0

	li:nth-child(n+4)
			display none

	li:first-of-type
		border none
		width 100%
		.item__hed
			set-type-size(x-large)
		.item__dek
			display block
		+mq('bp-m')
			margin-bottom 2rem
			margin-left 0
			margin-right 0
			.story-item
				flex-direction row
			.item__img
				width 70%
			.item__info
				width 30%
				padding-top 0
				padding-left 1rem
			.item__hed
				set-type-size(xx-large)
				font-weight 900
			.item__dek
				set-type-size(large)
				line-height 1.2
			.item__author
				margin-top 2rem

	li:last-of-type
		margin-bottom 0

	.story-item
		display flex
		flex-direction column

	.item__img
		position relative

	.item__info
		padding 1rem 0

	.item__hed
		font-weight 700
		set-type-size(large)
		line-height 1

	.item__dek
		set-type-size(root, false)
		line-height 1.4
		font-family $serif
		margin-top 0.5rem

	.item__author
		font-weight 700
		margin-top 1rem
		set-type-size(small)
		line-height 1.2

		a
			display inline-block
			text-transform uppercase


.layout--small
	ul
		display flex
		flex-wrap wrap
		justify-content space-between
		transition opacity 250ms
		+mq('bp-m')
			width 100%

	li
		width 100%
		margin-bottom 4rem
		&:first-of-type
			border none
		&:last-of-type
			margin-bottom 0
		+mq('bp-m')
			width calc(25% - 1.5rem)
			border-top none
			margin 0


	.story-item
		display flex
		flex-direction row
		align-items center
		+mq('bp-m')
			flex-direction column

	.item__img
		width 60%
		+mq('bp-m')
			width 100%

	.item__info
		padding-left 1rem
		width 40%
		+mq('bp-m')
			width 100%
			padding 1rem 0

	.item__hed
		font-weight 700
		set-type-size(medium)
		line-height 1

	.item__dek
		display none

	.item__author
		font-weight 700
		margin-top 1rem
		set-type-size(small)
		line-height 1

		a
			display inline-block
			text-transform uppercase


.top__more
	position absolute
	top 0.4rem
	right 0

	a
		font-family $sans-display
		text-transform uppercase
		font-weight 700
		border none
		color $gray-dark
		set-type-size(small, false)
		line-height 1
		&:hover
			color red
	svg
		vertical-align middle
		transform translateY(-5%)
		width 1.25rem

.top__nav
	transform translateY(-1rem)
	+mq('bp-m')
		transform translateY(0)
	div
		display flex
		flex-wrap wrap

	span
		padding-right 0.75rem
		margin-bottom 0.25rem
		line-height 1
		+mq('bp-m')
			padding 0 0.75rem
			margin-bottom 0
		&.is-active
			button
				font-weight 700
				color $off-black
		button
			text-transform capitalize
			line-height 1
			color $gray-dark
			&:hover
				color $off-black


