
.btn, a.btn
	font-weight 900
	text-transform uppercase
	padding 0.75rem
	set-type-size(small, false)
	line-height 1
	background-color $fg
	color $bg
	font-family $sans
	letter-spacing 0.03em
	border none
	
.random-color, a.random-color, .btn.random-color
	color $gray-dark
	transition color 250ms
	&--0
		color darkred
	&--1
		color teal
	&--2
		color purple
	&--3
		color darkorange

.random-background, a.random-background, .btn.random-background
	background-color $gray-dark
	transition background-color 250ms
	&--0
		background-color darkred
	&--1
		background-color teal
	&--2
		background-color purple
	&--3
		background-color darkorange

	

.story-item
	
	.item__hed
		margin 0
	
	.item__dek
		margin 0
	
	.item__author
		margin 0
		color $gray-dark
		a
			color $gray-dark
			&:hover
				color $gray
	
