header
	width 100%
	padding 0.5rem 0
	max-width $main-width
	margin 0 auto

	&.is-home
		margin-bottom 2rem
		padding 0
		padding-bottom 1rem
		.top__title
			+mq('bp-m')
				width 20rem
		.cta__newsletter
			display flex
		.cta__patreon
			display flex
		.cta__social
			+mq('bp-m')
				display flex
		.header__tagline
			display block
			max-width 52rem

	+mq('bp-m')
		width calc(100% - 12rem)
		position relative
		transform none
		box-shadow none

	.header__top
		display flex
		justify-content space-between
		align-items center

	.top__title
		display none
		position fixed
		top 0.75rem
		left 4rem
		margin 0
		width 10rem
		z-index set-index(overlay) + 1
		+mq('bp-3')
			display block
		+mq('bp-m')
			position relative
			width 12rem
			z-index auto
			top 0
			left 0
		a
			display block
			border none
		svg
			fill $off-black

	.top__nav
		position absolute
		top 0
		right 0
		// transform translateX(100%)

		+mq('bp-m')
			position relative
			transform translateX(0)

		.nav__links
			display flex
			align-items center

		li
			set-type-size(small, false)
			line-height 1
			padding 0 1rem
			font-family $sans-display
			&:last-of-type
				padding-right 0

		a
			display block
			border none
			color $gray-dark

		.btn:hover
			color $bg
			background-color $gray-dark


	.header__tagline
		display none
		margin-top 0.25rem
		font-family $serif-display
		padding 1rem
		padding-top 2rem
		max-width 35rem
		margin 0 auto
		set-type-size(large, true)
		+mq('bp-m')
			padding 0
			max-width 100%
			margin 0
			set-type-size(xx-large, true)
			span
				display none


	.header__cta
		display flex
		flex-wrap wrap
		flex-direction column
		align-items center
		font-family $sans-display
		margin-top 1rem

		+mq('bp-m')
			flex-direction row
			margin-top 2rem

		.btn, a.btn
			background-color $fg
			color $bg
			font-family $sans-display
			cursor pointer
			&:hover
				background-color $gray-dark


		svg:hover
			fill $gray-dark

	.cta__newsletter
		display none
		align-items center
		flex-wrap wrap
		margin-bottom 2rem

		+mq('bp-m')
			margin 0
			flex-wrap nowrap

		form
			display flex

		input
			set-type-size(small, false)
			line-height 1
			font-family $sans-display
			background transparent
			border 1px solid $off-black
			&:hover
				border 1px solid $gray-dark
			// margin-right 0.5rem
			color $fg
			&::placeholder
				color $gray-dark

		.newsletter__input
			width 10rem
			height 2.5rem
			padding 0 0.5rem

		p
			margin 0
			margin-bottom 1rem
			line-height 1
			width 100%
			set-type-size(large)
			+mq('bp-m')
				width auto
				margin 0
				margin-right 1rem

	.cta__patreon
		display none
		align-items center
		flex-wrap wrap
		+mq('bp-m')
			flex-wrap nowrap
			margin-left 2rem
		a
			border 1px solid $off-black
			&:hover
				border 1px solid $gray-dark
		p
			margin 0
			margin-bottom 1rem
			set-type-size(large)
			line-height 1
			width 100%
			+mq('bp-m')
				width auto
				margin 0
				margin-right 1rem

	.cta__social
		position fixed
		top 1.25rem
		right 4rem
		z-index set-index(overlay) + 1
		display flex

		+mq('bp-m')
			display none
			position relative
			z-index auto
			top 0
			left 0
			margin-left 2rem

		svg
			fill $gray
			+mq('bp-m')
				fill $fg

		a
			border none
			margin-right 0.5rem
