header
	z-index set-index('overlay')
	display flex
	margin-left $sidebar-width
	justify-content space-between
	
	.header__title
	// 
	
	.header__sidebar
		position fixed
		top 0
		left 0
		width $sidebar-width
		padding 0.5rem
		svg
			fill $gray
	
	.header__nav
		.nav__links
			display flex
		
		

		