#home
	padding-top 6rem	
	+mq('bp-m')
		padding-top 0
	section
		width calc(100% - 3.6rem)
		transform translateX(0.5rem)
		position relative
		max-width $main-width
		margin 0 auto 5rem auto
		border-left 4px solid $fg
		border-top 4px solid $fg
		padding-top 1rem
		
		+mq('bp-m')
			width 100%
			width calc(100% - 10rem)
			transform translateX(0)
	
	.story-item a
		border none
		display block
	