#home #picks
	ul
		display flex
	
	li
		opacity 0
		transition opacity 250ms
		width 33.3%
		&.is-visible
			opacity 1
		&:nth-child(n+4)
			display none
	

	.story-item
		display flex
		align-items center
		padding 1rem 2rem 0 0
	
	.item__info
		padding-left 0.5rem
		width 40%

	.item__img
		width 60%
	
	.item__hed
		font-weight 700
		set-type-size(medium) 
		line-height 1
	
	.item__dek
		display none
	
	.item__author
		display none