#home #topics
	
	.topics__nav
		position absolute
		top 0
		left 0
		transform rotate(-90deg) translate(-100%, -125%)
		margin-top 4.75rem
		transform-origin 0 0
		
		ul
			display flex

		li
			padding 0 0.5rem
			&.is-active
				button
					font-weight 700
			button
				font-weight 200
				text-transform capitalize

	.topics__stories
		+mq('bp-5')
			transform translateX(-1 * $line-width)
			width calc(100% + $line-width)
		
		ul
			display flex
			flex-wrap wrap
			justify-content space-between
			opacity 0
			transition opacity 250ms
			&:nth-child(n+2)
				display none
			&.is-visible
				opacity 1
				display flex
			&.is-hidden
				display none
		
		li
			width 100%
			margin-bottom 4rem
			border-top $line-width solid $fg
			&:first-of-type
				border none
			&:last-of-type
				margin-bottom 0
			+mq('bp-5')
				margin 0
				border-top none
				border-left $line-width solid $fg 
				width calc(33.3% - 1.5rem)
				&:nth-child(-n+3)
					margin-bottom 3rem
			
			
				
	
	.story-item
		display flex
		flex-direction column
		
	.item__info
		padding 1rem 0 0 1rem

	.item__hed
		font-weight 700
		set-type-size(large) 
		line-height 1
	
	.item__dek
		set-type-size(root, false)
		line-height 1.4
		font-family $serif
		margin-top 0.5rem
	
	.item__author
		font-weight 700
		margin-top 1rem
		set-type-size(small)
		line-height 1.2
		
		a
			display inline-block
			text-transform uppercase