#page-home #new
	margin-bottom 1.5rem
	ul
		display grid
		grid-gap 3.5rem
		grid-template-columns repeat(2,1fr)
		grid-template-rows auto

		+mq('bp-m')
			grid-template-columns repeat(3, 1fr)


	li:first-of-type
		grid-column 1/3
		.item__info
			+mq('bp-m')
				display flex
				> a
					width 50%
				> *
					width 50%
		.item__hed
			set-type-size(x-large)
			+mq('bp-m')
				set-type-size(xxx-large)
				font-weight 900
		.item__dek
			display block
			+mq('bp-m')
				set-type-size(large)
				line-height 1.2
			
			// .item__author
			// 	margin-top 2rem

		+mq('bp-m')
			grid-row 1/4


	// 	margin-bottom 3rem
	// 	&:first-of-type
	
	// 	&:last-of-type
	// 		margin-bottom 0
	// 	+mq('bp-m')
	// 		width 50%
	// 		margin 0
	// 		border-top none
	// 		width calc(33.3% - 1.5rem)
	// 		margin-left 1.5rem
		
		
	.story-item
		display flex
		flex-direction column
		
	.item__info
		padding 1rem 0
		

	.item__hed
		font-weight 700
		set-type-size(large) 
		line-height 1
	
	.item__dek
		display none
		set-type-size(root, false)
		line-height 1.4
		font-family $serif
		margin 0
	
	.item__author
		font-weight 700
		margin-top 0.5rem
		set-type-size(small)
		line-height 1.2
		
		a
			display inline-block
			text-transform uppercase