#page-home #hits
	ul
		position relative
		display flex
		flex-wrap wrap
		justify-content space-between
		+mq('bp-m')
			justify-content flex-end
			transform translateX(-1 * $line-width)
			width calc(100% + $line-width)
		
	li
		// opacity 0
		width 100%
		border-top $line-width solid $fg
		margin-bottom 3rem
		&:nth-child(3)
			margin-bottom 0
		&:nth-child(n+4)
			display none
		&:first-of-type
			border none
			width 100%
			.item__hed
				set-type-size(x-large)
			.item__dek
				display block
			+mq('bp-m')
				margin-bottom 2rem
				margin-left 0
				margin-right 0
				.story-item
					flex-direction row
				.item__img
					width 70%
				.item__info
					width 30%
					padding-top 0
				.item__hed
					set-type-size(xx-large)
					font-weight 900
				.item__dek
					set-type-size(large)
					line-height 1.2
				.item__author
					margin-top 2rem
		&:last-of-type
			margin-bottom 0
		+mq('bp-m')
			width 50%
			margin 0
			border-top none
			border-left $line-width solid $fg 
			width calc(50% - 0.75rem)
			margin-right 1.5rem
			margin-bottom 0
			&:nth-child(odd)
				margin-right 0
			&:nth-child(n+4)
				display block
				margin-top 3rem
			&:nth-child(n+6)
				display none
			&:first-of-type
				border-left $line-width solid $fg 
		
		
	.story-item
		display flex
		flex-direction column
		
	.item__img
		position relative
		
	.item__info
		padding 1rem 0 0 1rem

	.item__hed
		font-weight 700
		set-type-size(large) 
		line-height 1
	
	.item__dek
		set-type-size(root, false)
		line-height 1.4
		font-family $serif
		margin-top 0.5rem

	.item__author
		font-weight 700
		margin-top 1rem
		set-type-size(small)
		line-height 1.2
		
		a
			display inline-block
			text-transform uppercase

	.img__hit
		display block
		position absolute
		top 0
		right 0
		margin 0
		padding 0 0.5em
		color $bg
		text-transform uppercase
		font-weight 700
		set-type-size(root)
		pointer-events none