#home #how
	ul
		transform translateX(-1 * $line-width)
		width calc(100% + $line-width)
		display flex
		flex-wrap wrap
		justify-content space-between
		transition opacity 250ms
	
	li
		width calc(25% - 1.5rem)
		border-left $line-width solid $fg 
			

	.story-item
		display flex
		flex-direction column
		
	.item__info
		padding 1rem 0 0 1rem

	.item__hed
		font-weight 700
		set-type-size(medium) 
		line-height 1

	.item__dek
		display none

	.item__author
		font-weight 700
		margin-top 1rem
		set-type-size(small)
		line-height 1
		
		a
			display inline-block
			text-transform uppercase