#home
	
	header 
		max-width $main-width
		margin 0 auto
		
	section
		position relative
		max-width $main-width
		margin 0 auto 2rem auto
		border-left 2px solid $fg
		border-top 2px solid $fg
		// transform translateX($sidebar-width)

	.section__label
		position absolute
		top 0
		left 0
		margin 0
		margin-top 1rem
		transform translateX(-135%) rotate(-90deg)
		transform-origin 100% 0%
		font-weight 700
		text-transform uppercase
		line-height 1

	
	.story-item a
		border none
		display block
	