#page-home #picks

	ul
		display flex
		flex-wrap wrap
		justify-content space-between
		transition opacity 250ms
		+mq('bp-m')
			transform translateX(-1 * $line-width)
			width calc(100% + $line-width)
	
	li
		opacity 0
		&:nth-child(n+5)
			display none
		&.is-visible
			opacity 1
			display flex
		&.is-hidden
			display none

	
	.item__author
		display none