#home #picks
	ul
		display flex
		justify-content space-between

	li
		opacity 0
		transition opacity 250ms
		width calc(33.3% - 0.5rem)
		&:nth-child(n+4)
			display none
		&.is-visible
			opacity 1
			display flex
		&.is-hidden
			display none
		
	

	.story-item
		display flex
		align-items center
	
	.item__info
		padding-left 0.5rem
		width 40%

	.item__img
		width 60%
	
	.item__hed
		font-weight 700
		set-type-size(medium) 
		line-height 1
	
	.item__dek
		display none
	
	.item__author
		display none