#page-home #hits
	.img__hit
		display block
		position absolute
		top 0
		right 0
		margin 0
		padding 0 0.5em
		color $bg
		text-transform uppercase
		font-weight 700
		font-family $sans-display
		set-type-size(root)
		pointer-events none