#page-topics
	padding-top 6rem

	+mq('bp-m')
		padding-top 0

	.top__nav
		transform translateY(0rem)

		span
			button
				set-type-size(small, false)
				+mq('bp-m')
					set-type-size(root, false)

	.top__more
		display none

	.topics__stories
		min-height 480px
		ul
			display none
			&.is-visible
				display flex
			&.is-hidden
				display none


		li:nth-child(n+4)
			display block

	.info__details cite a
		border-bottom none
