#page-topics
	padding-top 6rem	
	
	+mq('bp-m')
		padding-top 0
	
	.top__more
		display none

	.topics__stories
		min-height 480px
		ul
			display none
			&.is-visible
				display flex
			&.is-hidden
				display none


		li:nth-child(n+4)
			display block