<!doctype html>
<html lang='en'>

<head>
	
	<!-- DO NOT REMOVE -->
	<!-- meta -->
	
	<link inline rel='stylesheet' href='../common/css/font.css'>
	<link inline rel='stylesheet' href='../common/css/bundle.css'>

	<!-- smoosh -->
	<script inline src='../common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	<!-- analytics -->
</head>

<body id='page-archives'>

	<!-- DO NOT REMOVE -->
	<!-- header -->
	<main id='content'>
		<section class='filter'>
			<p class='section__label random-color'>Find It!</p>
			<input aria-label='Search' name='search' placeholder='Search...'>
			<fieldset class='field__sort'>
				<legend>Sort By</legend>
				<ul>
					<li>
						<select>
							<option>Newest to Oldest</option>
							<option>Oldest to Newest</option>
							<option>Most-Viewed</option>
						</select>
					</li>
				</ul>
			</fieldset>

			<fieldset class='field__filter'>
				<legend>Filter By</legend>
				<ul>
					<li>
						<select data-filter='author' class='filter--author'>
							<option>Author</option>
						</select>
					</li>

					<li>
						<select data-filter='topic'class='filter--topic'>
							<option>Topic</option>
						</select>
					</li>

					<li>
						<select data-filter='chart' class='filter--chart'>
							<option>Chart Type</option>
						</select>
					</li>

					<li>
						<select data-filter='keyword'class='filter--keyword'>
							<option>Keyword</option>
						</select>
					</li>
					
				</ul>
			</fieldset>
		</section>

		<section class='stories'>
			<p class='section__label random-color'>Archives</p>
			<!-- DO NOT REMOVE -->
			<ul><!-- stories --></ul>
		</section>
		
	</main>

	<!-- DO NOT REMOVE -->
	<!-- footer -->
</body>
<script src='../common/js/d3.v5.min.js'></script>
<script inline src='../common/js/general.js'></script>
<script>
	/* DO NOT REMOVE */
	/* topics.js */
	/* DO NOT REMOVE */
	/* entry.js */
</script>

</html>