<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	<!-- meta -->

	<link inline rel='stylesheet' href='../common/css/font.css'>
	<link inline rel='stylesheet' href='../common/css/bundle.css'>

	<!-- smoosh -->
	<script inline src='../common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	<!-- analytics -->
</head>

<body id='page-backlog'>

	<!-- DO NOT REMOVE -->
	<!-- header -->
	<main id='content'>

		<section class='stories'>
			<div class='section__top'>
				<p class='section__label random-color'>Story Idea Backlog</p>
			</div>
			<p class='description'>The Pudding team regularly updates a spreadsheet that contains new ideas for stories that
				we could potentially work on. Below is our constantly-updating list of story ideas from that spreadsheet. If any
				of them excite you, feel free to pitch us your manifestation of the idea. Details <a
					href='../about/#rubric'>here</a>.</p>
			<!-- DO NOT REMOVE -->
			<!-- table -->
		</section>

	</main>

	<!-- DO NOT REMOVE -->
	<!-- footer -->
</body>
<script src='../common/js/d3.v5.min.js'></script>
<script inline src='../common/js/general.js'></script>
<script>
	/* DO NOT REMOVE */
	/* entry.js */
</script>

</html>