<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- DO NOT REMOVE -->
    <!-- meta -->

    <link inline rel="stylesheet" href="../common/css/font.css" />
    <link inline rel="stylesheet" href="../common/css/bundle.css" />

    <!-- smoosh -->
    <script inline src="../common/js/critical.js"></script>
    <!-- endsmoosh -->

    <!-- DO NOT REMOVE -->
    <!-- analytics -->
  </head>

  <body id="page-backlog">
    <!-- DO NOT REMOVE -->
    <!-- header -->
    <main id="content">
      <section class="stories">
        <div class="section__top">
          <p class="section__label random-color">Story Idea Backlog</p>
        </div>
        <p class="description">
					The Pudding team maintains a continuously updated list of questions, ideas, datasets, and half-baked thoughts for
					potential stories. For the ideas below, we'd like your help.
        </p>
        <div class="key">
          <p>
						In their current form, they’re shower thoughts — we don’t know whether they’re viable stories, but something about them
						seemed like a compelling narrative may emerge after some exploration. If you’d like to work on one of these ideas with
						us, you’ll need to flesh it out and research it more thoroughly before it moves into production. That is to say, they
						need some proof that they are interesting. Think of them as starting points for your pitches: if any of them excite you,
						feel free to explore the data, and send us the preliminary results that suggest the story is sufficiently intriguing to
						merit further work. Details <a href="../about/#pitch">here</a>.
          </p>
        </div>
        <!-- DO NOT REMOVE -->
        <!-- table -->
      </section>
    </main>

    <!-- DO NOT REMOVE -->
    <!-- footer -->
  </body>
  <script src="../common/js/d3.v5.min.js"></script>
  <script inline src="../common/js/general.js"></script>
  <script>
    /* DO NOT REMOVE */
    /* entry.js */
  </script>
</html>
