<!doctype html>
<html lang='en'>

<head>

	<!-- DO NOT REMOVE -->
	<!-- meta -->

	<link inline rel='stylesheet' href='../common/css/font.css'>
	<link inline rel='stylesheet' href='../common/css/bundle.css'>

	<!-- smoosh -->
	<script inline src='../common/js/critical.js'></script>
	<!-- endsmoosh -->

	<!-- DO NOT REMOVE -->
	<!-- analytics -->
</head>

<body id='page-backlog'>

	<!-- DO NOT REMOVE -->
	<!-- header -->
	<main id='content'>

		<section class='stories'>
			<div class='section__top'>
				<p class='section__label random-color'>Story Idea Backlog</p>
			</div>
			<p class='description'>The Pudding team regularly maintains an on-going dump of
				questions, ideas, datasets, and half-baked thoughts for potential stories, listed below. If any
				of them excite you, feel free to pitch us your manifestation of the idea. Details <a
					href='../about/#pitch'>here</a>.</p>
			<div class='key'>
				<p>We are actively seeking contributors for ideas highlighted in <span class='gray'>gray</span>.</p>
				<p>We have a more vested interest in the production of certain stories. If it has a <span
						class='collab'>collab</span>
					tag, we want to be involved in the creation process.
					If it has an <span class='edit'>edit</span> tag, we’re happy to take the backseat and just help guide the
					story.
					Ideas without tags are blank canvases&mdash;feel free to work on them and then <a
						href='https://pudding.cool/about/#pitch'>pitch us</a>.</p>
			</div>
			<!-- DO NOT REMOVE -->
			<!-- table -->
		</section>

	</main>

	<!-- DO NOT REMOVE -->
	<!-- footer -->
</body>
<script src='../common/js/d3.v5.min.js'></script>
<script inline src='../common/js/general.js'></script>
<script>
	/* DO NOT REMOVE */
	/* entry.js */
</script>

</html>