/* FEATURE */

a.feature {
	background-color: #fff;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	color: #2a2a2a;
}

a.feature:visited a.feature:hover {
	color: #2a2a2a;
	border: none;
}

.feature__media {
	display: none;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.feature__article {
	padding: 2rem 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

.feature__article p {
	margin: 0;
}

.article__hed {
	margin: 0;
	font-weight: bold;
	font-size: 32px;
}

p.article__stats {
	color: #888;
	margin: 0.5rem 0 1.5rem 0;
}

.article__view {
	margin: 2rem auto 1rem auto;
  	width: 12rem;
  	pointer-events: none;
}

@media only screen and (min-width: 600px) {
  .article__hed {
  	font-size: 38px;
  }
}

@media only screen and (min-width: 800px) {
	.feature__media {
		display: block;
		width: 20rem;
		height: 20rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20rem;
		flex: 0 0 20rem;
	}

	.feature__article {
		padding: 2rem;
	}

	.article__view {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
	.article__hed {
		font-size: 48px;
	}